*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Nunito Sans', sans-serif;
      color: #fff;
}
.container{
      max-width: 1310px;
      margin: 0 auto;
      padding: 0 10px;
}
a{
      text-decoration: none;
}
.site-header{
      width: 100%;
      background-color: #2B3844;
      z-index: 100;
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.0532);
  }
  .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
  }
  .nav-left h1{
        font-size: 24px;
        color: #fff;
  }
  .nav-right a{
        display: flex;
        align-items: center;
        gap: 8px;
  }
  .nav-right span{
        font-size: 16px;
        color: #fff;
  }
.site-header{
      background-color: #2B3844;
}
.about-main{
      background-color: #202C36;
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .about{
      display: flex;
      align-items: center;
      gap: 120px;
      padding-top: 80px;
      background-color: #202C36;
    }
    .about-right{
       display: flex;
      align-items: center;
      gap: 120px;
    }
    
    .texts{
      display: flex;
      align-items: center;
      gap: 60px;
    }
    .about-text1{
      display: flex;
      flex-direction: column;
      gap: 23px;
      max-width: 249px;
    }
    .about-text1 h1{
      font-size: 32px;
      color: #fff;
    }
    .about-p p{
      font-size: 16px;
      line-height: 32px;
      color: #fff;
    }
    .about-p span{
      color: #fff;
    }
    
    .about-text2 p{
      font-size: 16px;
      line-height: 28px;
      color: #fff;
    }
    .about-text2 span{
      color: #fff;
    }
    .spans{
      display: flex;
      align-items: center;
      gap: 15px;
      margin-top: 68px;
    }
    .spans h2{
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }
    .spans span{
      width: 96px;
      text-align: center;
      font-size: 12px;
      padding: 5px 28px;
      background-color: #2B3844;
      border-radius: 0.5rem;
      z-index: 100;
      box-shadow: 10px 10px 9px  rgba(0, 0, 0, 0.0294);
    }
    .back{
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: #2B3844;
      color: #fff;
      border-radius: 0.5rem;
      z-index: 100;
      box-shadow: 0px 5px 9px  rgba(0, 0, 0, 0.0294);
      border: none;
      padding: 10px 30px;
      margin-left: 20px;
    }
    @media(max-width:960px){
      
      .about{
        flex-wrap: wrap;
      }
      .about-left img{
        width: 100%;
        height: auto;
      }
  }
  @media(max-width:750px){
      
      .navbar{
        flex-wrap: wrap;
      }
      .texts{
        flex-wrap: wrap;
      }
  }
  @media(max-width:480px){
    .spans{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .spans div{
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .spans span{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  