*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Nunito Sans', sans-serif;
      color: #fff;
}
*:focus{
      outline: none;
}
a{
      text-decoration: none;
}
html{
      font-size: 10px;
}
.container{
      max-width: 1310px;
      margin: 0 auto;
      padding: 0 10px;
}
.site-header{
    width: 100%;
    background-color: #2B3844;
    z-index: 100;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.0532);
}
.navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;
}
.nav-left h1{
      font-size: 24px;
      color: #fff;
}
.nav-right a{
      display: flex;
      align-items: center;
      gap: 8px;
}
.nav-right span{
      font-size: 16px;
      color: #fff;
}
.site-main{
      background-color: #202C36;
      padding-top: 48px;
}
.search{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 4.8rem;
  }
  .search-left{
      width: 48rem;
      padding: 1.8rem 3.2rem;
      display: flex;
      align-items: center;
      background-color: #2B3844;
      border-radius: 0.5rem;
      z-index: 100;
      box-shadow: 0 2px 9px  rgba(0, 0, 0, 0.0294);
  }
  .search-left img{
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 2.4rem;
  }
  .search-left input{
      width: 80%;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      color: #fff;
      border: none;
      background: transparent;
  }
  .search-left input::placeholder{
      color: #fff;
  }
  .search-right{
      width: 200px;
      background-color: #2B3844;
      padding: 1.8rem 2.4rem;
      color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.0532);
  }
  select{
      background-color: #2B3844;
      color: #fff;
  }
  select:nth-child(1){
      border: none;
  }
  .cards{
      background-color: #202C36;
      padding-bottom: 45px;
  }
  .cards-content{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
      gap: 75px;
  }
  .card{
      width: 264px;
      background-color: #2B3844;
      justify-self: center;
      border-radius: 0.5rem;
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.0294);
  }
  .card img{
      border-radius: 10px;
  }
  .card-text{
      padding: 24px;
  }
  .card h2{
      line-height: 26px;
      font-size: 18px;
      color: #fff;
  }
  .p{
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 16px;
  }
  .p p{
      font-size: 14px;
      line-height: 16px;
      color: #fff;
  }
  @media(max-width:960px){
      .cards-content{
          gap: 5.5rem;
      }
  }
  @media(max-width:750px){
      .search{
          flex-wrap: wrap;
      }
      .navbar{
            flex-wrap: wrap;
      }
      .search-left{
          width: 100%;
          margin-bottom: 4rem;
      }
      .cards-content{
          gap: 4rem;
      }
  }

  